a::after, a::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    border: 2px solid #f91890;
    transition: all .8s ease;
}
a::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
}

a::before {
top: 0;
left: 0;
border-bottom-color: transparent;
border-right-color: transparent;
}

a:hover::after, a:hover::before {
    width: 100%;
    height: 100%;
}
