<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale-1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/contacts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/icon.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<title>Contacts</title>
</head>
<body onload="startTime()">

<div id="txt"></div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="{{ url_for('homeeng') }}" class="nav-item nav-link">Home</a>
        <a href="{{ url_for('lapaeng') }}" class="nav-item nav-link">Page</a>
        <a href="{{ url_for('contacteng') }}" class="nav-item nav-link active font-weight-bold">About</a>
      </div>
  </div>
  <a href="{{ url_for('contact') }}" style="text-align: right; color: white; font-size: small;" class="nav-item nav-link">LV</a> 

</nav>


<div class="about-section">
  <h1>Our Team</h1>
  <p>We are students of Zenta Maurina Grobiņa Secondary School.</p>
  <p>This website is designed to be able to create our projects in a single file.</p>
</div>
<br>
<div class="row">

  <div class="column">
    <div class="card">
      <img class="mx-auto" src="https://i.imgur.com/ufCQoj3.jpg" alt="Roberts" style="width:60%">
      <div class="container">
        <h2>Roberts Trumars</h2>
        <p class="title">Admin</p>
        <p>I broke my arm, I drive with VW Passat</p>
        <p>roberts.trumars@grobinasskola.lv</p>
        <p><button class="button">Write!</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="mx-auto" src="https://i.imgur.com/E15SHO6.jpg" alt="Valters" style="float:center;width:70%">
      <div class="container">
        <h2>Valters Hūns</h2>
        <p class="title">Owner & Admin</p>
        <p>Going to gym 3 times a week</p>
        <p>valters.huns@grobinasskola.lv</p>
        <p><button class="button">Write!</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="mx-auto" src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/322/322868/golden-retriever-puppy.jpg?w=600&h=1200" alt="John" style="width:83%">
      <div class="container">
        <h2>Pifiņa</h2>
        <p class="title">Mascot</p>
        <p class="title"> </p>
        <p>The success mascot of our team</p>
        <p class="title">  
        <p><button class="button">Pet!</button></p>
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a href="#" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a href="#" class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a href="#"> Add link</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>