<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale-1">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/core.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/head.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/foot.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<title>Biologija</title>
</head>

<body bgcolor="#E6E6FA">


<div class="header">
  <a href="{{ url_for('home') }}" class="logo">Bioloģija</a>
  </div>
<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="{{ url_for('home') }}">Sākums</a></li>
            <li><a href="{{ url_for('table') }}">Tabula</a></li>
            <li><a href="{{ url_for('contact') }}">Kontakti</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>





</br>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner" align="middle">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/9alen1r.jpg" alt="Bilde1" width="600" height="900">
    </div>
    <div class="carousel-item" align="middle">
      <img src="https://i.imgur.com/GvZgM7U.jpg" alt="Bilde2" width="600" height="900">
    </div>
    <div class="carousel-item" align="middle">
      <img src="https://i.imgur.com/f2Hfx1F.jpg" alt="Bilde3" width="900" height="600">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<div class="footer">
  <footer>CopyRight2020</footer>
</div>
</body>

</html>